body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  width: 500px;
}

.activity {
  font-size: 1.5rem;
  margin: 0 0 11px 0;
  border-bottom: solid 1px #c5c3c2;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.card-title-bar {
  background-color: #ef5d08;
  color: white;
  border-radius: 12px 12px 0 0;
  padding: 10px;
  text-align: left;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-title-content {
  font-size: 1.125rem;
}

.card-content {
  border-radius: 0 0 12px 12px;
}

a {
  cursor: hand;
  text-decoration: none;
}

a:hover {
  background-color: #e7b395;
}

.card-content {
  display: block;
  color: black;
}

.card-item {
  display: block;
  padding: 12px 20px 0 20px;
  margin-bottom: 0px;
}

.card-content .card-item:last-child {
  border-radius: 0 0 12px 12px;
  border-bottom: none;
}

.card-item-content {
  padding-bottom: 12px;
  border-bottom: 1px solid #dadada;
}

.card-item-header {
  display: flex;
  justify-content: space-between;
}

.card-item-content-title {
  color: black;
  display: flex;
  font-size: 0.96rem;
}

.card-item-content-description {
  color: #027acc !important;
  display: block;
  font-size: 0.937rem;
}

.card-item-content-right-row {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.right-document {
  font-weight: 500;
}

.right-icon {
  display: block;
  width: 125px;
  flex-shrink: 0;
}
